<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viktor.listtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RawPaw"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".HomeActivity"
            android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectedDogProfile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CreateDogProfile" />
        <activity android:name=".CreateCatProfile"
            android:screenOrientation = "portrait"/>
        <activity android:name=".AboutInfo" />
        <activity android:name=".EditDogProfile" />
        <activity android:name=".AboutFood.MuscleMeat" />
        <activity android:name=".AboutFood.EdibleBones" />
        <activity android:name=".AboutFood.LiverOtherOrgans" />
        <activity android:name=".AboutFood.VegeSNF" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9102373556091600~1368769916"/>
    </application>
</manifest>